In [0]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
salary_data = pd.read_csv('/content/gdrive/My Drive/salary_data1.csv')
salary_data.head(10)

   YearsExperience  Salary  ProfessionalQualification
0              1.1   12323                          0
1              1.3   12444                          1
2              1.5   16434                          1
3              2.0   19060                          1
4              2.2   23211                          0
5              2.9   27755                          1
6              3.0   31221                          0
7              3.2   34245                          1
8              3.2   34245                          1
9              3.7   37666                          0

In [0]:
y = salary_data['Salary']
x1 = salary_data[['YearsExperience', 'ProfessionalQualification']]
#now you can't plot is like the way we did earlier, cuz you have two varibles
#in here we go for best fitting model, not the best fitting line since no scatter plot we make
#plt.scatter(x1, y)

In [0]:
import statsmodels.api as sm

In [0]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1450: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=12
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.989
Model:                            OLS   Adj. R-squared:                  0.987
Method:                 Least Squares   F-statistic:                     868.3
Date:                Tue, 24 Dec 2019   Prob (F-statistic):           4.73e-11
Time:                        04:18:42   Log-Likelihood:                -100.89
No. Observations:                  12   AIC:                             205.8
Df Residuals:                      10   BIC:                             206.7
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const             -42.9455    996.575     -0.043      0.966   -2263.452    2177.561
YearsExperience  1.034e+04    350.920     29.468      0.000    9558.895    1.11e+04
==============================================================================
Omnibus:                        1.539   Durbin-Watson:                   2.584
Prob(Omnibus):                  0.463   Jarque-Bera (JB):                1.167
Skew:                          -0.648   Prob(JB):                        0.558
Kurtosis:                       2.193   Cond. No.                         9.17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""