In [1]:
import pandas as pd

In [2]:
mvdata=pd.read_csv("User_movie_review.csv")

In [3]:
mvdata.head()

  class                                               text
0   Pos      stuart little   is one of the best family ...
1   Neg   a movie like mortal kombat   annihilation wor...
2   Neg   and just when you thought joblo was getting a...
3   Pos   every now and then a movie comes along from a...
4   Neg   for about twenty minutes into mission impossi...

In [6]:
mvdata['class'].value_counts()

Neg    1000
Pos    1000
Name: class, dtype: int64

In [7]:
from sklearn.feature_extraction.text import CountVectorizerVectorizer

ImportError: cannot import name 'CountVectorizerVectorizer' from 'sklearn.feature_extraction.text' (C:\Users\Prasadi Sewwandi\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py)

In [11]:
countervectemp = CountVectorizer()
dtm_temp = pd.DataFrame(countervectemp.fit_transform(mvdata['text']).toarray(),columns=countervectemp.get_feature_names(), index=None)
dtm_temp['class']=mvdata['class']
dtm_temp.head()

,00,000,0009f,007,00s,03,04,05,05425,10,...,zukovsky,zulu,zundel,zurg,zus,zweibel,zwick,zwigoff,zycie,zzzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
import nltk
import re

from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

In [19]:
stemmer=PorterStemmer()
def tokenize(text):
    text=stemmer.stem(text)
    text=re.sub(r'\W+|\d+|_','',text)
    tokens=nltk.word_tokenize(text)
    return tokens

In [ ]:
countervec=CountVectorizer(min_df=5,tokenizer=tokenize,
                          stop_words=stopwords.words('english'))

dtm=pd.DataFrame(countervec.fit_transform(mvdata['text']).toarray,columns=countervec.get_feature_names(),index=None)
dtm['class']=mvdata['class']
dtm.head()

C:\Users\amila\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'ani', 'arent', 'becaus', 'befor', 'couldnt', 'didnt', 'doe', 'doesnt', 'dont', 'dure', 'ha', 'hadnt', 'hasnt', 'havent', 'hi', 'isnt', 'mightnt', 'mustnt', 'neednt', 'onc', 'onli', 'ourselv', 'shant', 'shouldnt', 'shouldv', 'thatll', 'themselv', 'thi', 'veri', 'wa', 'wasnt', 'werent', 'whi', 'wont', 'wouldnt', 'youd', 'youll', 'yourselv', 'youv'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [ ]:
mv_train=dtm[:1900]
mv_test=dtm[1900:]

In [ ]:
form sklearn.native_bayes import MultinomialNB

In [ ]:
classifier-MultinomialNB()
x_train=mv_train.drop(['class'],axis=1)

In [ ]:
classifier.fit(x_train,mv_train['class'])

In [ ]:
#check accuracy
x_test=mv_test.drop(['class'],axis=1)
classifier.score(x_test,mv_test['class'])

In [ ]:
predicted_sentiment=classifier.predict(mv_test.drop(['class'],axis=1))
print(predicted_sentiment)